.signup-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
}

.signup-form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.signup-title {
    font-weight: bold;
    margin: 0 0 20px;
}

.signup-form .form-field {
    margin-bottom: 10px;
}

.signup-form .form-input {
    background-color: transparent;
    color: var(--text-primary);
    border: none;
    border-bottom: 1px solid var(--bg-secondary);
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box; /* Quan trọng */
}

.signup-form .submit-btn {
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: transparent;
    box-shadow: 0 6px 16px rgba(25, 25, 25, 0.4);
    color: #0f0f0f;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin-top: 10px;
}

.signup-form .submit-btn:active {
    transform: scale(0.95);
}

.signup-form .submit-btn:focus {
    outline: none;
}

.signup-form .submit-btn:hover {
    transform: translateY(-2px);
}
